<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Prediction</title>

</head>
<body style="background: #f0f0f0;">
    <div class="container">
        <h1>Profit Prediction</h1>
        <p>Example input: R&D Spend: 165349.20, Administration Spend: 136897.20, Marketing Spend: 471784.10</p>
        <form method="POST" action="/predict" >
            <label for="rd_spend">R&D Spend:</label>
            <input type="number" name="rd_spend" id="rd_spend" step="0.01" required><br><br>
            <label for="admin_spend">Administration Spend:</label>
            <input type="number" name="admin_spend" id="admin_spend" step="0.01" required><br><br>
            <label for="marketing_spend">Marketing Spend:</label>
            <input type="number" name="marketing_spend" id="marketing_spend" step="0.01" required><br><br>
            <input type="submit" value="Predict">
        </form>
        <br>
        <br>
        <h4>{{ prediction }}</h4>
    </div>
</body>
</html>
